/*non-template custom*/

img.center {
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

p.clear {
    clear: both;
}

.sidebartag {
  color: #1619ff;
  font-size: 1.65em;
}
